#cachorro {
	width: 5em;
	margin-top: 400px;
	margin-left: 100px;
}

#casa {
	width: 8em;
	position: absolute;
	top: 460px;
	left: 920px;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}
#corpo {
	background-image: url(https://i.pinimg.com/originals/e0/1e/c2/e01ec21429d30d652403148865915888.gif);
	
}